
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue JS - Two Way Data Binding</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">		
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>			
</head>
<body>
	<div class="container">
		<div class="row py-5">
			<div id="app">				
				<h3>My Name is {{name}}</h3>
				<input type="text" class="form-control" v-model='name'>
				<input type="text" class="form-control" v-model='age'>
			</div>
		</div>
	</div>	
	<script type="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>